body{

    font-family: "Lato"
}

.box {
    background: #F6F6F6;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-caixa {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    background: #fff;
}

.sub-tutorial {
    border-top: 3px solid #FFFF05;
    background: #1C2E4A;
    height: 100%;
    width: 30vw;
    display: inline-block;
    /* position: relative; */
}

.img-produto-carrinho img {
    width: 120px;
}

.produtos-carrinho {
    overflow: auto;
    height: 100%;
}


.valor {
    padding: 48px 40px;
}

.p30 {
    padding: 30px 0;
}

.quant {
    padding: 20px;
    width: 15%;
}

.infos{
    padding: 20px;
    font-size: 0.8em;
}

.resumo-compra h4 {
    text-align: center;
    font-weight: 700;
    padding: 20px 0;
}

.linha {
    width: 100%;
    height: 1px;
    background: #ccc;
}

.resumo-compra ul {
    list-style-type: none;
    padding: 0 !important;
}

.resumo-compra ul li {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    color: #EBEBEB;
}

.btn-secondary{
    width: 100%;
    margin:auto;
    align-items: center;
    text-align: center;
}

.btn-cart {
    background: #007ef9;
    color: #fff;
    padding: 10px 0;
}

.btn-cart:hover {
    color: #fff !important;
}

.no-paddin {
    padding: 0 !important;
}

.produtos-carrinho::-webkit-scrollbar {
    width: 5px;
}

.produtos-carrinho::-webkit-scrollbar-track {
    background: #f1f0f0;
}

.produtos-carrinho::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.produtos-carrinho::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d;
}

.center {
    margin: 0 auto;
}

@media(max-width:990px) {
    .box-caixa {
        width: 100%;
        height: 100%
    }
    .img-produto-carrinho img {
        width: 250px;
        margin: 0 auto;
    }
    .produtos-carrinho h4 {
        text-align: center;
    }
    .quant {
        padding: 0;
    }
    .valor {
        margin: auto;
    }
    .pad-mob {
        padding: 30px
    }
    .produtos-carrinho {
        height: auto;
    }
}
.galeria_produtos{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
   margin: 20px;
   background-color: #EBEBEB;

    
}

.produto{
    display: flex;
   margin: 20px;
   width: 100%;
    
}
 
.produto img{
    width: 14vw;

}

.produtos-carrinho{
    width: 70vw;

}

.delete{
    border:none;
    background-color: transparent;
    height: 10px;
}

.infos{
    padding: 1px 15px;
    font-size: 0.8em;
}

.quant {
    padding: 1px 18px;
    width: 12vw;
}

.valor{
    padding: 1px 18px;
    text-align: center;
}

.produto_description{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto
}

.sub-tutorial {
    border-top: 3px solid #FFFF05;
    background: #1C2E4A;
    height: 100%;
    width: 30vw;
    display: inline-block;
    /* position: relative; */
}


.resumo-compra h4 {
    text-align: center;
    font-weight: 700;
    padding: 20px 0;
}

.linha {
    width: 100%;
    height: 1px;
    background: #ccc;
}

.resumo-compra ul {
    list-style-type: none;
    padding: 0 !important;
}

.resumo-compra ul li {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    color: #EBEBEB;
}

.btn-secondary{
    width: 100%;
    margin:auto;
    align-items: center;
    text-align: center;
}

.btn-cart {
    background: #007ef9;
    color: #fff;
    padding: 10px 0;
}

.btn-cart:hover {
    color: #fff !important;
}

.no-paddin {
    padding: 0 !important;
}