.titulo{
	text-transform: uppercase;
	color:#FFFFFF;
	text-align: center;
	background-color: #1C2E4A;
	height: 35px;
	font-size: 1.5rem;
	border-radius: 5px;
	font-family: "Lato";
}

body{
	background-color: #EBEBEB;
}

h1{
	text-align: center;
}



#form-login {
	width: 60vw;
	margin: auto;
	background-color:#FFFFFF;
	color: #52545E;
	padding: 50px;
	font-family: "Lato";

}

#form-login label {
	display: block;
    font-size: 16px;
    color: #1C2E4A;
}

#form-login label input {
	display: block;
	padding: 5px;
	border-color: #1C2E4A;
	margin-top: 10px;
	border-radius: 5px;
	font-family: "Lato";
}	

#form-login label input[type="file"]{
	display: none;
}

#form-login label div:not(.esqueceu){
	width: 100%;
	display: block;
	font-size: 1rem;
	background-color: rgba(0, 0, 0,0.5);
	color: white;
	border: none;
	padding: 10px 20px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	text-align: center;
}

#form-login .controles{
	width: 100%;
	display: inline-block;
	justify-content: space-between;
	align-items: center;
}



.alert-error{
	background-color: rgba(100,0,0,0.5);
	color: #FFF;
	width: 480px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
}

.ou{
	text-align: center;
}

.esqueceu{
	text-align: right;
}

a:link 
{ 
 text-decoration:none; 
} 

.btn-primary{
	width: 100%;
	display: inline-block;
	justify-content: space-between;
	align-items: left;
	margin:0px;
}

h2{
	margin: 10px;
	text-align: center;
}

.error_message{
	color: red;
}

.user_create{
	text-align: center;
	background-color:#FFFF05;
}