* { margin: 0; padding: 0;
}

a:link {
	text-decoration: none;
	color: none;
}
  
  a:visited {
	text-decoration: none;
	color: none;
}

header {
    display: flex;
    flex-direction: row;
	z-index: 1000;
	background-color: #1C2E4A;
	width: 100%;
	height: 60px;
    top: 0px;
    justify-content: center;
    
}

.header_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px 0px 20px;

}

.search{
    flex-grow: 2;
    margin: 0px 60px 0px 60px;
}

.dropdown-item:hover{
    background-color: #EBEBEB;
}

.header_group .menu{
    flex-grow: 1;
}

.header_group .cadastro{
    flex-grow: 1;
}





.header_menu .btn {
    background-color: #1C2E4A;
    border: none;
    font-size: 40px;
    padding: 0px;
    margin-left:10px ;
    
    color: white;

}


.header_cadastro .btn {
    background-color: #FFFF05;
    border: none;
    padding: 0px;
    margin-right:20px;
    color: #1C2E4A;
    width: 15vw;

}

.header_cadastro .btn:hover{
    background-color: #EBEBEB;
}

#search {
    color: white;
    font-weight: bold;
    margin-left: 5px;
    font-size: 20px;
}
