<footer>

    <div class="inscrever">


        <a href="#inscrever">
            <div id="titulo-inscrever">
                <span>SE INSCREVA E RECEBA NOSSAS PROMOÇÕES</span>
            </div>
            <button class="btn-secondary">INSCREVER</button>
        </a>
    </div>
    <div class="footer_info">
        <div class='row'>
            <div class='col'>
                <h4>devHouse</h4>

                <p>
                    <span>DigitalHouse<br />Rua Digital, Looping sem fim.</span>
                </p>

            </div>
            <div class='col'>

                <ul class="footer_info_ul">
                    <h4>Suporte</h4>
                    <li>
                        <a href="#">Trocas e Devoluções</a>
                    </li>
                    <li>
                        <a href="#">Privacidade e Segurança</a>
                    </li>
                    <li>
                        <a href="#">Meu cadastro</a>
                    </li>
                    <li>
                        <a href="#">Meus pedidos</a>
                    </li>
                </ul>
            </div>
            <div class='col'>

                <ul class="footer_info_ul">
                    <h4>Institucional</h4>
                    <li>
                        <a href="#">Sobre a DevHouse</a>
                    </li>
                    <li>
                        <a href="#">Fale Conosco</a>
                    </li>
                    <li>
                        <a href="/adm">Administração</a>
                    </li>
                </ul>
            </div>
            <div class="social-buttons">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <span class="fab fa-instagram"></span>
                </a>
                <a href="#">
                    <span class="fab fa-facebook"></span>
                </a>
            </div>
        </div>

        <div id="copy-site-footer">
            <span>Copyright © 2020 devHouse. Todos os direitos reservados.</span>
        </div>

    </div>
</footer>