<!DOCTYPE html>
<html lang="pt-br">

<head>

    <%-include('./partials/head')%>
        <link rel="stylesheet" href="/stylesheets/loginadm.css">
    <style>
        form{
            display: flex;
            margin: auto;
            flex-direction: column;
            width: 60vw;
        }
    </style>
</head>

<body>
    <%-include('./partials/header')%>

        <div class="head_cadastro">
            <button class="button-back" onclick="location.href=document.referrer"><i class="fa fa-arrow-left" style="font-size:35px;color:#FFFF05"></i></button>
            <h1 style="flex-grow: 2;">
                CADASTRO CLIENTE
            </h1>
    
    </div>
    
    
    
        <form id="form-login" method="POST" action="/users/cadastrar">
            
    
                <% if(typeof sucess != 'undefined') {%>
                    <h3 class="user_create">Usuário criado com sucesso!!</h3>
                            
                    <%}%>
                <% if(typeof errors != 'undefined') {%>
              
                <ul class="error_message">
                    <% for (var i=0;i<errors.length;i++){ %>
                        <li><%=errors[i].msg%></li>
                        <%}%>
                </ul>
                <% } %>
    
    
                <div>
                    <label for="user">
                        Nome Completo
                        <input class="input_text" type="text" name="user" id="user" placeholder="Digite seu nome ...">
                    </label>
                </div>

                <div>
                    <label for="email">
                        E-mail
                        <input class="input_text" type="text" name="email" id="email" placeholder="Digite seu E-mail...">
                    </label>
                </div>
                <div>
                    <label class="senha" for="senha">
                    Senha
                    <input class="input_text" type="password" name="senha" id="senha" placeholder="Escolha uma senha...">
                </label>
                </div>
                <div class="senha">
                    <label class="senha" for="senha">
                    Confirmar Senha
                    <input class="input_text" type="password" name="senhaconfirm" id="senhaconfirm" placeholder="Confirmar a senha...">
                </label>
                </div>
                <div >
                    <label  for="cpf">
                    CPF
                    <input class="input_text" type="text" name="cpf" id="cpf" placeholder="Digite seu CPF...">
                </label>
                </div>
                <div >
                    <label for="telefone">
                    Telefone
                    <input class="input_text" type="text" name="telefone" id="telefone" placeholder="Digite seu Telefone...">
                </label>
                </div>
                <div >
                    <label  for="cep">
                    CEP
                    <input class="input_text" type="text" name="cep" id="cep" placeholder="Digite seu CEP...">
                </label>
                </div>
                <div >
                    <label for="endereco">
                    Endereço
                    <input class="input_text" type="text" name="endereco" id="endereco" placeholder="Digite seu endereço...">
                </label>
                </div>
                <div >
                    <label  for="cidade">
                    Cidade
                    <input class="input_text" type="text" name="cidade" id="cidade" placeholder="Digite sua Cidade...">
                </label>
                </div>
                <div >
                    <label  for="estado">
                    Estado
                    <input class="input_text" type="text" name="estado" id="estado" placeholder="Digite seu Estado...">
                </label>
                </div>
                <button class="btn-primary" type="submit">Cadastrar</button>
        </form>
        <h1>***</h1>
        <%-include('./partials/footer')%>

</body>

</html>