<!DOCTYPE html>
<html lang="en">


<head>
    <%-include('./partials/head')%>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <%-include('./partials/header')%>
	
	<div class="header-categorias-texto">
		
		<div id="Adesivos">
			<span>Adesivos</span>
		</div>

		<div id="Camisetas">
			<span>Camisetas</span>
		</div>

		<div id="Canecas">
			<span>Canecas</span>
		</div>

		<div id="Chaveiros">
			<span>Chaveiros</span>
		</div>
	
	</div>

	<div class="slide">

		<div id="titulo-slide">
			<span>Todo dev tem muita história…</span>
		</div>

		<div id="descricao-slide">
			<span>Resolvemos transformar essas histórias em produtos SUPER MANEIROS!</span>
		</div>

		<a href="#loja">

		<div id="texto-botao-slide">
			<span>VER PRODUTOS</span>
		</div></a>
	</div>
	
	<div class="mais-vendido">

		
		<div id="titulo-mais-vendidos">
			<span>Os mais vendidos</span>
		</div>

		<div id="descricao-mais-vendidos">
			<span>Os mais querido por nossos Devs</span>
		</div>

		<div class="produto-mais-vendido">

			<div class="imagem-produto-mais-vendido"></div>

			<div id="titulo-produto-mais-vendido">
			<span>Produto X</span>
			</div>

			<div id="preco-produto-mais-vendido">
			<span>R$19,90</span>
			</div>

			<a href="#comprar">
			<div id="texto-botao-mais-vendido">
			<span>COMPRAR</span>
			</div></a>

		</div>

	</div>
	
	<%-include('./partials/footer')%>
	
	</div>
</body>
</html>